/* Palette: https://coolors.co/palette/3d5a80-98c1d9-e0fbfc-ee6c4d-293241*/

body {
    background-color: #EEEEEE;
}

/* Fade In Keyframes */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Slide Up Keyframes */
@keyframes slideUp {
    from { transform: translateY(30px); }
    to { transform: translateY(0); }
}

#first_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #293241;
    /* Fade In and Slide Up for Title */
    animation: fadeIn 1s ease-out, slideUp 1s ease-out;
}

#digitalize {
    margin-left: 20px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    color: #EE6C4D;
    /* Include animations if needed, or specific styles for 'digitalize' */
}

#first_paragraph {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #293241;
    /* Fade In and Slide Up for Paragraph with delay */
    animation: fadeIn 1s ease-out 0.8s;
    animation-fill-mode: backwards; /* Keeps the element in its initial state until its animation begins */
}

#section_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #293241;
    /* Add animations if needed */
}


/*
#nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #293241;
}*/
#nav {
    background-color: #EEEEEE;
    box-shadow: 0 8px 8px rgba(238, 238, 238, 1); /* Adjust the rgba values as needed */
}
 
#nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #293241;
    transition: color 0.3s; /* Smooth color transition on hover */
}

#nav a:hover {
    color: #5092B8; /* Replace with the color you want on hover */
}




